.bookingBox {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* width: 600px; */
    /* margin: auto; */
  }

  .tabs{
    display: flex;
 
    gap: 60px;
    justify-content: space-between;
  }

  .tripType{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
  }
  
  .tabs button, .tripType button {
    font-size: 16px; 
    width: 150px;
   
    color: #333; 
    background: transparent;
   
    padding: 10px 20px;
    cursor: pointer;
   
    margin: 5px;
    padding: 9px;
   

    border: 10px;
    border-color: rgb(67, 187, 67);
    border-radius: 4px;
    background: lightgray;
    cursor: pointer;
  }
  
  .tabs .activeTab, .tripType .activeTrip {
    background: rgb(7, 114, 7);
    color: white;
  }
  
  /* .form input {
    display: block;
    background-color: white;

    width: 100%;
    padding: 8px;
    margin: 5px 0;
  } */
  
  .exploreBtn {
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: 0 auto; 
    margin-top: 20px;
    text-align: center;
}

  
  .error {
    color: red;
    font-size: 14px;
  }
  


  .bookingContainer {
    position: relative;
    display: flex;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 150px;
    gap: 80px;
    background-image: url("../../../public/bg-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100vh; */
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.bottomSection {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80%; 
    background-color: rgb(183, 182, 182);
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);  */
    padding: 20px;
    z-index: 10;
    border-radius: 10px 10px 10px 10px;
}


.bottomSection div {
    text-align: center;
}


.bottomSection h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}


.bottomSection p {
    font-size: 14px;
    color: #555; 
}


.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 4, 4, 0.5); 
    z-index: -1;
}

  .heading{
    font-weight: 600;
    font-size: 60px;
    color: white;
    
  }

  .highlight{
    color:rgb(23, 209, 23)
  }

  .input-time::-webkit-calendar-picker-indicator {
    filter: invert(0%) brightness(0); 
    cursor: pointer;
    width: 20px;
    height: 20px;
  }