.bookingBox {
  background: rgba(255, 255, 255, 0.9); /* Adjust the last value (0.5) for transparency */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(1px); Adds a blur effect to the background */
}

  .tabs{
    display: flex;
 
    gap: 60px;
    justify-content: space-between;
  }

  .tripType{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
  }
  
  .tabs button, .tripType button {
    font-size: 20px; 
    width: 150px;
   
    color: #bdb9b9; 
    background: transparent;
   
    padding: 10px 20px;
    cursor: pointer;
   
    margin: 5px;
    padding: 9px;
   

    border: 2px solid;
    border-color: rgb(7, 114, 7);
    border-radius: 6px ;
    background:white;
    cursor: pointer;
  }
  
  .tabs .activeTab, .tripType .activeTrip {
    background: rgb(7, 114, 7);
    color: white;
  }
  

 
 

.inputBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: rgba(255, 255, 255, 0)
}

.input {
  border: none;
  color: black;
  /* background-color: none; */
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid black;
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
  list-style: none;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}

  
  .exploreBtn {
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: 0 auto; 
    margin-top: 20px;
    text-align: center;
}

  
  .error {
    color: red;
    font-size: 14px;
  }
  


  .bookingContainer {
    position: relative;
    display: flex;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 150px;
    gap: 80px;
    background-image: url("../../../public/bg-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.bottomSection {
    position: absolute;
    left: 50%;
   
    transform: translateX(-50%);
    bottom: -80px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 98%; 
    background-color: rgb(228, 224, 224);
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);  */
    padding: 20px;
    /* margin: 20px; */
    z-index: 10;
    border-radius: 40px;
}


.bottomSection div {
    text-align: center;
    /* display: flex; */
}


.line{
  width: 2px;
  height:120px;
  color:rgb(132, 42, 42);
  background-color: gray;
  
}

.bottomSection h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}


.bottomSection p {
    font-size: 20px;
    color: #555; 
}


.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 4, 4, 0.5); 
    z-index: -1;
}

  .heading{
    font-weight: 600;
    font-size: 60px;
    color: white;
    
  }

  .highlight{
    color:rgb(23, 209, 23)
  }

  .input-time::-webkit-calendar-picker-indicator {
    filter: invert(0%) brightness(0); 
    cursor: pointer;
    width: 20px;
    height: 20px;
  }