.featureContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    gap: 100px;
    text-align: center;
   /* padding: 10px; */
  
}

.benifitContainer{
    display: flex;
   
    margin-top: 100px;
    gap:150px;

}

.benifit{
    display: flex;
    flex-direction: column;
 
   text-align: center;
    align-items: center;
   
}
.benifit h1{

    color: rgb(12, 96, 12);
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.description h1{
 font-size: 50px;
 color:rgb(54, 54, 54)
}
.description p{
    font-size: 20px;
    color: rgb(65, 65, 65);
    line-height: 25px;
    letter-spacing: 0.01cm;
    margin-top: 30px;
}

.whyYatri{
    display: flex;
    gap: 100px;
    margin-top: 50px;

}

.whyYatri img{
 
    object-fit: contain;
}

.yatriBenifits{
    display: flex;
    text-align: start;
    gap:20px;
}
.yatriBenifits img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.yatriBenifits h1{
    font-size: 20px;
}
.yatriBenifits p{
    font-size: 16px;
}

.specsContainer{
    display: flex;
    width: 100%;
    padding: 0;
    /* justify-content:space-evenly; */
    gap:1px;
    justify-content: space-between;
    /* flex-direction: column; */
}


.carContainer{
 
    background-color: rgb(28, 128, 28);
}

.carContainer h1{
    color: white;
    padding: 20px;
    margin: 0;
}

.specs{
    

    background-color: rgb(158, 228, 158);
}

.specs h1{
    padding:10px 30px;
    color: black;
    font-size: 25px;
}



.taxiContainer{
    margin: 20px;
    display: flex;
    gap: 50px;
    text-align: start;
}

.span{
    color: green;
}



/* .whyChooseContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.whyChooseContainer div{
    width: 100%;
    border: 2px solid black;
} */

.whyChooseContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: px;
    padding: 30px;
    border-radius: 10px;
   
}


.whyChooseContainer div{
    border: 1px solid rgb(136, 135, 135);
    border-radius: 10px;
    background-color: rgb(220, 218, 218);
}
.whyChooseContainer div li {
    font-size: 20px;
    color: #333;
   padding: 15px;
    margin-bottom: 10px;
    text-align: start;
   
    padding-left: 20px;
    padding-right: 50px;
}




.whyChooseContainer img {
    max-width: 100%;
    height: auto;
    /* border-radius: 10px; */
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); */
}

/* h1 {
    text-align: center;
    font-size: 28px;
    color: #222;
    margin-bottom: 20px;
} */

.detail{
    padding: 10px;
}
.detailsTitle{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: green;
    padding: 30px;
   
    
    border-radius: 5px;
    font-size: 30px;
    color: white;
    font-weight:bold;
    
}

.detailSBenifit{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
    color: #333;
    letter-spacing:1px ;
    line-height: 25px;
    
   
    background-color: rgb(223, 222, 222);
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: start;
   
}