.footerContainer{
    background-color: black;
    color: white;
    display: flex;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContainer div {
   display: flex;
   gap: 30px;
   cursor: pointer;
}
